/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    /* Fonts */
    --font-bodycopy: 'Inter', sans-serif;

    /* Spacing */
    --max-width: 1200px;

    --border-r-l: 30px;
    --border-r-m: 20px;
    --border-r-s: 10px;


    /* Colors */
    --blue-primary: #33B0EF;
    --blue-secondary: #5BC8FF;
    --blue-tertiary: #407F9E;

    --dark-primary: #051D29;
    --dark-secondary: #191919;
    --dark-tertiary: #1C3441;


    --white-primary: #FFFFFF;
    --white-secondary: #F2F2F2;

    --text-primary: #FFF;
    --text-secondary: #999;
    --text-tertiary: var(--blue-primary);

    --border-primary: var(--blue-primary);
    --border-secondary: #d6d6d6;

    --background-primary: var(--blue-primary);
    --background-secondary: var(--blue-secondary);
    --background-tertiary: var(--white-secondary);

    --footer-fill: var(--blue-tertiary);

    /* Shadows */

    --inner-shadow: inset 0 10px 14px rgba(0, 0, 0, 0.15);

    /* ICONS */
    --circle-right-white: url('/public/images/circle-right-white.svg');

    /* BUTTONS */
    --button-fill: var(--blue-primary);

    /* TUTORIALS */
    --tutorial-fill: #ffffff25;
    --tutorial-stroke: var(--white-primary);
}


/* THEME SWITCHER */

[data-theme='dark'] {
    --background-primary: var(--dark-primary);
    --background-secondary: var(--dark-tertiary);
    --background-tertiary: var(--dark-secondary);

    --border-primary: var(--dark-tertiary);
    --text-tertiary: var(--white-primary);


    --footer-fill: var(--dark-tertiary);

    /* BUTTONS */
    --button-fill: transparent;


    --tutorial-fill: #ffffff10;
    --tutorial-title: var(--blue-primary);
    --tutorial-meta: var(--blue-tertiary);
}


body {
    background-color: var(--background-primary);
    font-family: var(--font-bodycopy);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

main {
    max-width: 100vw;
    overflow: hidden;
}


a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: calc(var(--max-width) - 40px);
    margin: 0 auto;
}

.inner-content {
    max-width: calc(var(--max-width) - 40px);
    margin: 0 auto;
    padding: 0 20px;
}

header .logo a {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

header .logo img {
    width: 32px;
}

header nav {
    margin-right: 15px;
}

header nav ul {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

header a {
    font-weight: 500;
    font-size: 1em;
    color: var(--white-primary);
}

header svg#icon-menu {
    width: 30px;
    cursor: pointer;
}

header .mobile-menu {
    display: none;
}

/* THEME SWITCHER ------------------------------------- */

.theme-slider {
    opacity: 0;
    position: absolute;
}


.theme-slider-label {
    box-sizing: border-box;
    background-color: var(--white-secondary);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-moon {
    color: #242b3f;
    width: 16px;
}

.icon-sun {
    color: #ffe200;
    width: 18px;
}

.theme-slider-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}


[data-theme='light'] .theme-slider-label .ball {
    background-color: var(--blue-primary);
}

[data-theme='light'] .theme-slider-label .ball {
    transform: translateX(24px);
}

[data-theme='dark'] .theme-slider-label .ball {
    transform: translateX(0);
}

[data-theme='dark'] .theme-slider-label {
    background-color: var(--text-dark-100);
}


p.cta {
    text-align: center;
    margin: 40px auto;
}

/*  Buttons  */

.button {
    background: var(--button-fill) var(--circle-right-white) no-repeat calc(100% - 20px) center;
    background-size: 26px;
    padding: 14px 54px 14px 24px;
    border-radius: var(--border-r-l);
    border: 2px solid var(--white-primary);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08);
    color: var(--white-primary);
    font-weight: 500;
    box-sizing: border-box;
    transition: all 0.8s ease;
    display: inline-block;
}

.button:hover {
    scale: 1.05;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
}

.button:active {
    scale: 0.95;
}

a.button:hover {
    text-decoration: none;
}


/* FOOTER ------------------------ */

footer {
    margin: 0 auto;
    padding: 40px 0;
    background-color: var(--footer-fill);
    color: var(--white-primary);
    text-align: center;
    box-shadow: var(--inner-shadow);
    text-align: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
}

footer::before {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: var(--border-r-l);
    position: absolute;
    top: -140px;
    left: -860px;
    width: 730px;
    height: 611px;
    transform: rotate(36deg);
    z-index: 1;
}

footer::after {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: var(--border-r-l);
    position: absolute;
    top: 140px;
    right: -660px;
    width: 730px;
    height: 611px;
    transform: rotate(18deg);
    z-index: 1;
}

footer .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    font-size: 22px;
    width: max-content;
    margin-bottom: 15px;
}

footer .links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

footer p {
    margin: 0 0 2px;
}

footer .github,
footer .creative-commons {
    background: url('/public/images/github.svg') no-repeat left 2px;
    background-size: 26px;
    padding-left: 36px;
}

footer .creative-commons {
    background-image: url('/public/images/creative-commons.svg');
}

/* MOBILE */
@media only screen and (max-width: 800px) {

    footer .inner-content {
        flex-direction: column;
        row-gap: 40px;
    }
}