/*  HERO SECTION --------------------- */

.hero {
    max-width: calc(var(--max-width) - 40px);
    padding: 0 20px;
    margin: 0 auto 40px;
    color: var(--text-primary);
    background-size: contain;
    position: relative;
}

.hero span.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    z-index: 2;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
}

/* Dark / Light Images for Hero Sections */

.homepage span.hero-image {
    background-image: url('/public/images/hero_home.png');
}

[data-theme='dark'] .homepage span.hero-image {
    background-image: url('/public/images/hero_home_dark.png');
}


.all-tutorials span.hero-image {
    background-image: url('/public/images/hero_allTutorials.png');
}

[data-theme='dark'] .all-tutorials span.hero-image {
    background-image: url('/public/images/hero_allTutorials_dark.png');
}


.roadmap span.hero-image {
    background-image: url('/public/images/hero_roadmap.png');
}

[data-theme='dark'] .roadmap span.hero-image {
    background-image: url('/public/images/hero_roadmap_dark.png');
}


.about span.hero-image {
    background-image: url('/public/images/creative-commons.svg');
}


.hero h1 {
    font-size: 72px;
    width: 45%;
    line-height: 1.1;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
}

.hero h2 {
    font-size: 22px;
    font-weight: normal;
    width: 40%;
    line-height: 1.3;
    margin-bottom: 60px;
}

.hero p {
    margin: 40px 0 0;
    padding-bottom: 50px;
}

.hero .button {
    font-size: 24px;
    background-color: var(--white-primary);
    color: var(--blue-primary);
    background-image: url('/public/images/circle-right-blue.svg');
    background-size: 30px;
    padding-right: 60px;
}


.hero::before {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: calc(2 * var(--border-r-l));
    position: absolute;
    top: 0px;
    left: -880px;
    width: 730px;
    height: 611px;
    transform: rotate(36deg);
    z-index: 1;
}

.hero::after {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: calc(2 * var(--border-r-l));
    position: absolute;
    top: -370px;
    right: -400px;
    width: 730px;
    height: 611px;
    transform: rotate(22deg);
    z-index: 1;
}

/* PAGE HEADER --------------------- */

.page-header {
    display: grid;
    grid-template-columns: 1fr var(--max-width) 1fr;
    grid-template-areas: gutter-left content gutter-right;
    color: var(--text-primary);
    background-color: var(--background-primary);
    z-index: 2;
    position: relative;
}

.page-header h2 {
    grid-area: 1 / 1 / 1/ 3;
    background-color: var(--background-secondary);
    max-width: 70%;
    border-radius: 0 var(--border-r-l) var(--border-r-l) 0;
    padding: 60px 60px 60px calc(100% - var(--max-width) + 20px);
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0 30px;
}

.page-header .content {
    grid-area: 2 / 2 / 2 / 3;
    max-width: 80%;
    padding-left: 20px;
}

.page-header .content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

.page-header .content p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 80px;
}

/* different margins for about page */

.about .page-header .content,
.about .secondary .inner-content {
    grid-area: 2 / 2 / 2 / 3;
    max-width: 100ch;
    margin: 40px auto;
}


.secondary {
    background-color: var(--background-tertiary);
    padding: 80px 0;
    color: var(--text-tertiary);
    box-shadow: var(--inner-shadow);
}

.secondary h3 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 auto 40px;
    text-align: center;
    max-width: 700px;
}

.secondary div.highlight {
    border: 12px solid var(--border-primary);
    border-radius: var(--border-r-l);
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 400;
    column-gap: 40px;
    margin-bottom: 60px;
}


/* TUTORIALS SECTION */


.tutorials h2 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 800;
    margin: 0 0 60px;
    max-width: 700px;
}

.skill-level {
    padding: 40px 0;
    margin: 0px 20px;
}

.skill-level .title {
    display: flex;
    margin: 0 0 50px;
    column-gap: 30px;
    align-items: center;
    max-width: 800px;
}

.skill-level .title h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    border: 2px solid var(--text-tertiary);
    border-radius: var(--border-r-m);
    color: var(--text-tertiary);
    padding: 20px 24px;
    width: max-content;
}

.skill-level .title h4 {
    margin: 0;
    font-size: 22px;
}

.skill-level .title p {
    font-size: 14px;
    margin: 5px 0 0;
}

div.tutorials-large {
    display: flex;
    column-gap: 26px;
    margin-bottom: 60px;
}

.tutorials-large .tutorial {
    width: 50%;
    padding: 0 20px;
    background-color: var(--tutorial-fill);
    border-radius: var(--border-r-l);
    padding: 15px 25px;
    border: 2px solid var(--white-primary);
    font-size: 13px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.028);
    transition: all 0.8s ease;
}

div.tutorials-medium {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 60px;
}

.tutorials-medium .tutorial {
    width: calc(45% - 40px);
    padding: 0 20px;
    background-color: var(--tutorial-fill);
    border-radius: var(--border-r-l);
    padding: 15px 25px;
    border: 2px solid var(--blue-primary);
    font-size: 13px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.028);
    transition: all 0.8s ease;
}


.tutorials-medium .seperator {
    width: 5%;
    height: 100px;
    border-bottom: 2px dashed var(--blue-primary);
}

/* Wide seperator */
.tutorials-medium .seperator:nth-of-type(2n),
.roadmap span.seperator {
    background: url('/public/images/seperator.png') center center no-repeat;
    background-size: 400px 60px;
    width: 100%;
    height: 60px;
    border: none;
}

/* Hides last seperator */
.tutorials-medium .seperator:last-of-type,
.roadmap span.seperator:last-of-type {
    display: none;
}


.tutorial:hover {
    border-color: var(--blue-primary);
    transform: translateY(-3px);
    box-shadow: 6px 12px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.tutorials-large .tutorial h4,
.tutorials-medium .tutorial h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0;
    color: var(--tutorial-title);
}

.tutorial p {
    line-height: 1.4;
    font-weight: 400;
}

.tutorial a:hover {
    text-decoration: none;
}

.tutorial p.meta {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-weight: 600;
    color: var(--tutorial-meta);
}


/* TABS --------------------- */

.tabs {
    display: flex;
    justify-content: center;
    margin: 0 0 60px;
    padding-bottom: 2.5em;
    column-gap: 16px;
    border-bottom: 1px solid var(--text-secondary);
}

/* labels */
.tabs label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    border: 2px solid var(--text-secondary);
    border-radius: var(--border-r-m);
    color: var(--text-secondary);
    padding: 16px 22px;
    width: max-content;
    cursor: pointer;
    opacity: 0.75;
}

.tabs label.selected {
    border: 2px solid var(--blue-primary);
    color: var(--blue-primary);
    display: block;
}

.tab-content .tab {
    display: none;
}

.tab input[name="tabs"] {
    display: none;
}

.tab-content .tab:has(input:checked) {
    display: block;
}


/* ROADMAP --------------------- */

.roadmap .tutorial {
    padding: 15px 25px;
    border-radius: var(--border-r-l);
    border: 2px solid var(--blue-primary);
    font-size: 13px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.028);
    transition: all 0.8s ease;
    cursor: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tutorial-fill);
}

.roadmap .tutorial:hover {
    transform: none;
}

.roadmap .tutorial h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 0;
}

.roadmap .tutorial a.button {
    background: unset;
    color: var(--blue-primary);
    border-radius: var(--border-r-m);
    padding: 15px 30px;
    border-color: var(--blue-primary);

}

.roadmap ul.lessons {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid var(--border-horizontal);
    justify-content: space-between;
    row-gap: 20px;
}

.roadmap ul.lessons li {
    background-color: var(--blue-primary);
    border-radius: var(--border-r-s);
    color: var(--text-primary);
    padding: 10px 20px;
    width: calc(30% - 40px);
}

.roadmap ul.lessons li a {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 10px;
}

.roadmap ul.lessons li a svg {
    width: 20px;
}

.roadmap span.seperator {
    display: block;
}


/* ALL RESPONSIVE STYLES */

#mobile-menu-checkbox {
    display: none;
}

/* TABLETS */
@media only screen and (max-width: 920px) {

    /* menus */
    label.mobile-menu {
        display: none;
    }

    /* page header */

    .page-header {
        grid-template-columns: 1fr;
    }

    .page-header h2 {
        padding: 40px 20px;
        font-size: 26px;
        line-height: 1.4;
        max-width: 80%;
        word-break: keep-all;

    }

    .page-header .content p {
        margin-bottom: 60px;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {

    /* menus */
    label.mobile-menu {
        display: block;
    }

    header ul.main-menu {
        display: none;
    }

    #burger-1,
    #burger-2,
    #burger-3 {
        transition: all 0.3s ease;
    }

    nav:has(input#mobile-menu-checkbox:checked) #burger-1 {
        transform: rotate(45deg) translate(6px, -6px);
    }

    nav:has(input#mobile-menu-checkbox:checked) #burger-2 {
        transform: rotate(-45deg) translate(-14px, 5px);
    }

    nav:has(input#mobile-menu-checkbox:checked) #burger-3 {
        transform: translate(0px, 8px);
    }

    input#mobile-menu-checkbox:checked~ul.main-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--background-primary);
        z-index: 100;
        column-gap: 0;
        row-gap: 30px;
        padding: 20px 20px 40px;
        height: 100%;
    }


    /* hero */

    .hero h1 {
        width: 100%;
        font-size: 52px;
    }

    .hero h2 {
        width: 80%;
        margin-bottom: 30px;
    }

    .hero p {
        margin: 10px 0 0;
        padding-bottom: 20px;
    }

    .hero .button {
        font-size: 18px;
    }

    .hero span.hero-image {
        display: none;
    }

    .hero::before {
        top: -50px;
    }

    .hero::after {
        display: none;
    }

    /* page header */

    

    .secondary {
        padding: 40px 0;
    }

    .secondary h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .skill-level {
        padding: 10px 0;
    }

    .skill-level .title {
        flex-direction: column;
        row-gap: 30px;
    }

    .skill-level .title h3 {
        font-size: 16px;
        padding: 20px 50px;
    }

    div.tutorials-medium {
        row-gap: 30px;
    }

    .tutorials-medium .tutorial {
        width: 100%;
    }

    .tutorials-large .tutorial {
        width: calc(100% - 50px);
    }

    .tutorials-large {
        flex-direction: column;
        row-gap: 30px;
    }

    .roadmap .tutorial {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .roadmap ul.lessons {
        flex-direction: column;
        row-gap: 20px;
    }

    .roadmap ul.lessons li {
        width: calc(100% - 40px);
    }

    .tutorials-medium .seperator,
    .roadmap span.seperator {
        display: none;
    }

    .button {
        padding: 14px 44px 12px 14px;
        background-position: calc(100% - 10px) center;
    }

    .tabs {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        padding-bottom: 2em;
        margin-bottom: 2.5em;
    }

    .about .page-header .content {
        grid-area: unset;
        max-width: calc(100vw - 60px);
        padding-right: 20px;
        margin: unset;
        word-wrap: break-word;
    }

}