@import url('/public/twodash.css');

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Share+Tech&display=swap');


:root {

    --max-width: 1600px;

    /* Fonts */
    --font-bodycopy: 'Lexend Deca', sans-serif;

    /* Spacing */
    --max-width: 1400px;


    --border-r-l: 30px;
    --border-r-m: 20px;
    --border-r-s: 10px;

    /* Colors */
    --text-dark-100: #1A1A1A;
    --text-dark-200: #4A4A4A;
    --text-dark-300: #828282;
    --text-light-100: #F2F2F2;
    --text-light-200: #E0E0E0;
    --text-light-300: #BDBDBD;
    --primary-color: #0288D1;


    --white-primary: #FFFFFF;
    --dark-tertiary: #1C3441;

    --blue-tertiary: #407F9E;
    --border-primary: #E0E0E0;


    /* ICONS */

    --circle-right-white: url('/public/images/circle-right-white.svg');


    /* Shadows */

    --inner-shadow: inset 0 10px 14px rgba(0, 0, 0, 0.15);

}

[data-theme='light'] {

    /* Colors */

    --primary: #0288D1;
    --primary-light: #8acaff;

    --body-bg: #d7f3f3;
    --sidebar: #025f92;
    --secondary: #ffffff;
    --tertiary: #043e5d;

    --links-light: var(--secondary);
    --links-alt: var(--primary);

    --text-lesson-content: var(--text-dark-200);

    --footer-fill: var(--blue-tertiary);


    --header-fill: var(--primary);
    --footer-text: var(--white-primary);

    /* ICONS */


    --circle-left-primary: url('/public/images/circle-left.svg');
    --circle-right-primary: url('/public/images/circle-right.svg');
    --circle-left-alt: url('/public/images/circle-left-white.svg');
    --circle-right-alt: var(--circle-right-white);


}

[data-theme='dark'] {

    /* Colors */

    --primary: #262a2d;
    --primary-light: #8acaff;

    --sidebar: #373737;


    --body-bg: #000000;
    --secondary: #232c31;
    --tertiary: #232323;

    --text-lesson-content: var(--text-light-200);
    --footer-fill: var(--dark-tertiary);

    --links-light: var(--text-light-100);
    --links-alt: #4cb9f4;

    --header-fill: var(--text-dark-100);


    --border-primary: #e0e0e029;
    --footer-text: var(--text-light-300);

    /* ICONS */

    --circle-left-primary: url('/public/images/circle-left-white.svg');
    --circle-right-primary: url('/public/images/circle-right-white.svg');
    --circle-left-alt: url('/public/images/circle-left.svg');
    --circle-right-alt: url('/public/images/circle-right.svg');

}


body {
    font-family: var(--font-bodycopy);
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-size: 15px;
    background-color: var(--body-bg);
}

.inner-content {
    max-width: calc(var(--max-width) - 40px);
    margin: 0 auto;
    padding: 0 20px;
}


h1,
h2,
h3 {
    letter-spacing: -0.5px;
    font-weight: 300;
    line-height: 150%;
}

h1 {
    font-size: 2.5em;

}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


a.cta {
    display: block;
    margin: 0 auto;
}

a.button {
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--text-light-100);
    border: 2px solid var(--text-light-100);
    width: max-content;
    box-shadow: 3px 4px 0 0 #0000001c;
    transition: all 0.5s;
    word-break: keep-all;
}

a.button:hover {
    color: var(--text-light-100);
    box-shadow: 3px 6px 0 0 #0000001c;
    transform: translateY(-2px);
    text-decoration: none;
}

a.button:active {
    scale: 0.95;
}


a.next {
    padding-right: 50px;
    background: var(--circle-right-white) no-repeat calc(100% - 20px) center;
    background-size: 24px;
}

[data-theme='dark'] a.button {
    color: var(--text-light-100);
}

[data-theme='dark'] a.button:hover {
    color: var(--links-alt);
}


/* HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: calc(var(--max-width) - 40px);
    margin: 10px auto 0;
    background: var(--header-fill);
    /* color: violet; */
    border-radius: 10px 10px 0 0;
}


header .logo a {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

header .logo img {
    width: 32px;
}

header nav {
    margin-right: 15px;
}

header nav ul {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

header a {
    font-weight: 500;
    font-size: 1em;
    color: var(--links-light);
}

.mobile-menu {
    display: none;
}

#mobile-menu-checkbox {
    display: none;
}


/* THEME SWITCHER */

.theme-slider {
    opacity: 0;
    position: absolute;
}


.theme-slider-label {
    box-sizing: border-box;
    background-color: var(--text-light-100);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-moon,
.icon-sun {
    color: #242b3f;
    width: 16px;
}

.icon-sun {
    color: #ffdcb8;
}

.theme-slider-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}


[data-theme='light'] .theme-slider-label .ball {
    background-color: var(--primary);
}

[data-theme='light'] .theme-slider-label .ball {
    transform: translateX(24px);
}

[data-theme='dark'] .theme-slider-label .ball {
    transform: translateX(0);
}

[data-theme='dark'] .theme-slider-label {
    background-color: var(--text-dark-100);
}


#page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: var(--max-width);
    /* min-height: 80vh; */
    margin: 0px auto;
}

/* GENERICS ----------------------- */

/* LINKS */

a {
    color: var(--links-alt);
    text-decoration: none;
}

a:hover {
    color: var(--primary-light);
}

a:visited {
    opacity: 0.95;
}


/* BUTTONS */
button,
.button {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
.button:hover {
    background-color: rgb(19, 108, 46);
}

button:focus,
.button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

button:focus-visible,
.button:focus-visible {
    box-shadow: none;
}

button:disabled,
.button:disabled {
    background-color: #D1D5DB;
    color: #6B7280;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #D1D5DB;
}

button:active,
.button:active {
    scale: 0.9;
}

button.complete,
.button.complete {
    padding-left: 34px;
    background: url('/public/images/check.svg') 8px center no-repeat rgb(22, 156, 62);
    background-size: 20px;
    color: var(--foreground);
}

button.next,
.button.next {
    padding: 15px 44px 15px 20px;
    background: var(--circle-right-white) calc(100% - 12px) center no-repeat var(--primary);
    background-size: 24px;
    color: var(--secondary);
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* SECTIONS ----------------------- */

main {
    display: grid;
    max-width: 100%;
    justify-content: stretch;
    background-color: var(--sidebar);
    grid-template-columns: 300px 1fr;
    padding: 16px 0 32px;
}

section#lesson-nav {
    flex-shrink: 0;
    padding: 20px;
    color: var(--text-light-200);
}

#lesson-nav h4 {
    font-size: 1.3em;
    border-bottom: 1px solid var(--border-primary);
    margin-bottom: 16px;
    padding-bottom: 16px;
    background: url('/public/images/bars.svg') no-repeat left 2px;
    background-size: 24px;
    padding-left: 32px;
}

#lesson-nav .tutorial-title {
    font-weight: 600;
    margin: 1.5em 0 2em;
}

#lesson-nav ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#lesson-nav ul li {
    margin-bottom: 12px;
    padding: 0.5em;
    border-bottom: 1px solid #33333353;
    font-size: 14px;
}

#lesson-nav ul li:nth-last-child(1),
#lesson-nav ul li.lesson {
    border-bottom: none;
}

#lesson-nav a {
    color: inherit;
    text-decoration: none;
}

#lesson-nav li a {
    display: block;
    background: no-repeat center right;
    background-size: 16px;
    padding-right: 20px;
}

#lesson-nav li.completed {
    opacity: 0.5;
}

#lesson-nav li.completed a {
    background-image: url(/public/images/check.svg);
}

#lesson-nav li.active {
    color: #333;
    background-color: var(--text-light-200);
    border-radius: 4px;
}

#lesson-nav li.active a {
    background-image: url(/public/images/circle-right-active.svg);
    background-size: 20px;
}

[data-theme='dark'] #lesson-nav li.active a {
    font-weight: 500;
}

#lesson-nav ul.tutorials li label {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
}

#lesson-nav ul.tutorials li label::before {
    content: "+ ";
}


#lesson-nav ul.tutorials li:has(input[type="checkbox"]:checked) label::before {
    content: "- ";
}


#lesson-nav ul.tutorials li ul.lessons {
    display: none;
    margin: 0 0 0 5px;
}

#lesson-nav ul.tutorials input[type="checkbox"] {
    display: none;
}


#lesson-nav ul.tutorials input[type="checkbox"]:checked~ul.lessons {
    display: block;
}


#lesson-nav ul.mobile-menu {
    display: none;
}


/* LESSON CONTENT ----------------------- */

section#lesson-content {
    background: var(--secondary);
    color: var(--text-lesson-content);
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
}

#lesson-content .title {
    margin: 0 0 0px 0;
    padding: 20px;
    font-size: 14px;
    background-color: var(--foreground);
    border-bottom: 1px solid var(--border-primary);
    height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lesson-content .title a.next {
    padding-right: 0;
    background: none;
}

#lesson-content .content {
    padding: 15px 45px;
    width: calc(100% - 60px);
    line-height: 1.5;
    max-width: 100ch;
    font-size: 1.2em;
}


#lesson-content img {
    max-width: 100%;
}

#lesson-content h1 {
    font-size: 2.5em;
}

#lesson-content h2 {
    font-size: 2em;
}

#lesson-content h3 {
    font-size: 1.5em;
}

#lesson-content ol,
#lesson-content ul {
    margin: 2em 0;
}

/* CODE BLOCKS */

pre.shiki {
    margin: 30px 0;
    width: max-content;
    max-width: calc(100% - 30px);
    min-width: 80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0.5em 1em;
    border: none;
    overflow: hidden;
}

code {
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: var(--text-light-200);
}


[data-theme='dark'] code {
    background-color: #1414149e;
    color: #d1d2b2;

}

pre code {
    background-color: inherit;
    color: inherit;
}


#lesson-content blockquote {
    font-size: 0.9em;
    padding: 5px 20px;
    margin: 30px 0;
    background-color: #f3f3d4;
    color: var(--text-dark-200);
    border-left: 1px solid #ddd886;
    width: fit-content;
}

[data-theme='dark'] #lesson-content blockquote {
    background-color: #4343433e;
    color: #cccdb1;
    border-left: 1px solid #666666a1;
}


#lesson-content .content p,
#lesson-content .content ul {
    max-width: 80ch;
}

#lesson-content .content ul li {
    margin-bottom: 1em;
}

#lesson-content .content details summary {
    cursor: pointer;
    text-decoration: underline;
}


#lesson-content .progress {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 10px 60px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
}

.progress a.prev {
    display: flex;
    align-items: center;
    color: var(--text-100);
    opacity: 0.5;
    text-decoration: none;
    background: url('/public/images/circle-left.svg') 0 center no-repeat;
    background-size: 16px;
    padding-left: 24px;
    margin-right: auto;
}

[data-theme='dark'] .progress a.prev {
    background-image: url('/public/images/circle-left-white.svg');
}

.next-tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 40px 0 60px;
    margin-top: 20px;
}


/* FOOTER ------------------------ */

footer {
    margin: 0 auto 20px;
    padding: 0;
    color: var(--footer-text);
    text-align: center;
    text-align: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
}

footer::before {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: var(--border-r-l);
    position: absolute;
    top: -140px;
    left: -860px;
    width: 730px;
    height: 611px;
    transform: rotate(36deg);
    z-index: 1;
}

footer::after {
    content: "";
    border: 80px solid #e9eaeb20;
    border-radius: var(--border-r-l);
    position: absolute;
    top: 140px;
    right: -660px;
    width: 730px;
    height: 611px;
    transform: rotate(18deg);
    z-index: 1;
}

footer .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    padding: 54px 40px 40px;
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--inner-shadow);
    max-width: calc(var(--max-width) - 80px);
}


footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    font-size: 22px;
    width: max-content;
    margin-bottom: 15px;
}

footer .links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

footer p {
    margin: 0 0 2px;
}

footer a:link,
footer a:visited {
    color: var(--white-primary);
    text-decoration: underline;
}

footer .github,
footer .creative-commons {
    background: url('/public/images/github.svg') no-repeat left 2px;
    background-size: 26px;
    padding-left: 36px;
}

footer .creative-commons {
    background-image: url('/public/images/creative-commons.svg');
}