<footer>
    <div class="inner-content">
        <div>
            <div class="logo">
                <img src="/public/images/ts-logo-solid-white.svg" alt="logo" width="24" />
                <span> Learn Typescript </span>
            </div>
            <p>
                <strong>FREE TypeScript Tutorials for Everyone</strong>
            </p>
            <p>
                An Open Source Tutorial Platform built using 11ty.js
                Learn more about this project
            </p>
        </div>

        <div class="links">
            <div class="github">
                <p>
                    <strong>
                        <a href="/">github.com/somerepo/something...</a>
                    </strong>
                <p>
                    View the <a href="/">codebase</a> | Report a <a href="/">Bug</a>
                </p>
            </div>
            <div class="creative-commons">
                <p>
                    <strong>
                        Released under Creative Commons
                    </strong>
                <p>
                    Free to use, share, and modify.
                </p>
            </div>
        </div>

    </div>
</footer>