<header>
	<div class="logo">
		<a href="/">
			<img src="/public/images/ts-logo-solid-white.svg" alt="logo">
			Learn TypeScript
		</a>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>