<div class="tutorial">
  <a href="{{ post.url | url }}">
    <h4>
      {{ post.data.title }}
    </h4>
    <p>
      {{ post.data.summary }}
    </p>
    <p class="meta">
      <span class="cost">FREE</span>
      <span class="length">{{ children.length }} Tutorials</span>
    </p>
  </a>
</div>
<span class="seperator"></span>